<!-- Toolbar -->
<div class="toolbar" role="banner"
     *transloco="let t"
>
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>{{t('app.name')}} {{ version$ | async }} </span>

  <div class="spacer"></div>
  <a (click)="loadTasks()" class="button-contained">
    Load Tasks
  </a>

  <div class="info">
    <div *ngIf="appReleaseDate$ | async">
      <span style="margin-right: 8px">Release on {{ appReleaseDate$ | async }}</span>
      <a (click)="clearReleaseDate()" class="button-contained">
        <span>{{ 'button.hide' | transloco }}</span>
      </a>
    </div>
    <div *ngIf="!(appReleaseDate$ | async)">
      <a (click)="showReleaseDate()" class="button-contained">
        <span>{{ 'button.show' | transloco }}</span>
      </a>
    </div>
  </div>
</div>

<div class="content" role="main">
  <div *ngIf="tasks$ | withLoading | async as remoteData">
    <ng-template [ngIf]="$any(remoteData).value">
      <app-task-list [value]="$any(remoteData).value">
      </app-task-list>
    </ng-template>
    <ng-template [ngIf]="$any(remoteData).error">{{ 'error' | transloco }}: {{ $any(remoteData).error | json}}</ng-template>
    <ng-template [ngIf]="$any(remoteData).loading">{{ 'loading' | transloco }} </ng-template>
  </div>

</div>

<router-outlet></router-outlet>
